#background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -10;
    opacity: .4;
}
#topicButtons {
    display: inline-flex;
    position: relative;
    left: 12%;
    margin-right: 10px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}
#header {
    font-family: 'Poppins', sans-serif;
    margin-left: 10%;
    font-weight: bold;
    font-size: 60px;
}
#find-gif, #enter-text-box {
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    margin-left: 11%;
}
#enter-text-box {
    width: 15%;
}
#searchButton {
    margin-left: 20px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    height: 44px;
    background-color: #181e63;
}
#searchButton:hover {
    background-color: #4cae51;
}
.card {
    margin-top: 15px;
    margin-left: 10%;
    float: left;
    text-align: center;
}
p {
    margin-top: 5px;
}